/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/documentpro.txt
/public/storage
/database
/storage
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/documentpro.txt
/public/notas.txt
.zip
.rar
